{% extends 'base.html.twig' %}

{% block title "Admin Panel" %}

{% block body %}

    <h1>Here all the users</h1>


    <table class="table table-bordered">
        <tr>
            <th>Username</th>
            <th>Email</th>
            <th>Cin</th>
            <th>Telephone</th>
            <th>Date de creation</th>
        </tr>
        {% for user in users %}
        <tr>
            <td>{{ user.username }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.cIN }}</td>
            <td>{{ user.telephone }}</td>
            <td>{{ user.createdAt | date("m/d/Y") }}</td>
        </tr>
        {% endfor %}
    </table>

    <h1> Here all the images</h1>

    <div class="row">

        {% for image in images %}
            <div class="col-md-3">
                <div class="card" style="width: 18rem;">
                    <img src="{{ asset('uploads/' ~ image.imagePath) }}" class="card-img-top" alt="image">
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}