{% extends 'base.html.twig' %}

{% block title "Edit your profile" %}

{% block body %}
    <div class="container">
        <form action="{{ path('user.edit',{id: user.id}) }}" method="post">
            <label for="username">Nom d'utilisateur</label>
            <input type="text" name="username" id="username" value="{{ user.username }}">
            <label for="email">Adresse Email</label>
            <input type="email" name="email" id="email" value="{{ user.email }}">
            <label for="telephone">Numero Telephone</label>
            <input type="tel" name="telephone" id="telephone" value="{{ user.telephone }}">
            <label for="cin">Numero CIN</label>
            <input type="text" name="cin" id="cin" value="{{ user.cIN }}">
            <button class="btn btn-lg btn-primary" type="submit">Modifier</button>
            <a href="{{ path('user.show',{id: user.id}) }}" class="btn btn-secondary">Retour</a>
        </form>
    </div>
{% endblock %}